@media (max-width: 575.98px) { 
	* {
		background-color: #B4D9D2;
	}

	.font-hai {
		margin-left: 20px;
		margin-top: 30px;
		font-family: 'Comic Neue', cursive;
		font-size : 65px;
		color: white;
	}
	.font-hai-1 {
		margin-left: 20px;
		margin-top: -30px;
		font-family: 'Comic Neue', cursive;
		font-size : 35px;
		color: white;
	}
	
	#img-nama {
		margin-left: 30px;
		width: 600px;
		height: 600px;

	}

	.form-control {
		margin-top: -130px;
		width: 60px;
		height: 60px;
	}

}